[submodule "plugins/itamae-plugin-recipe-linuxbrew"]
	path = plugins/itamae-plugin-recipe-linuxbrew
	url = https://github.com/cucmberium/itamae-plugin-recipe-linuxbrew.git
[submodule "plugins/itamae-plugin-recipe-rbenv"]
	path = plugins/itamae-plugin-recipe-rbenv
	url = https://github.com/itamae-plugins/itamae-plugin-recipe-rbenv.git
